/Asignaciones-de-estructuras-ejemplo1/nbproject/private/
/Asignaciones-de-estructuras-ejemplo1/build/
/asignacion/nbproject/private/
/asignacion/build/
/InputData/nbproject/private/
/InputData/build/
/maps/nbproject/private/
/maps/build/
/SampleMysqlConnect/nbproject/private/
/SampleMysqlConnect/build/
/Example-Java-MySQL/nbproject/private/
/Example-Java-MySQL/build/