/Asignaciones-de-estructuras-ejemplo1/nbproject/private/
/Asignaciones-de-estructuras-ejemplo1/build/
/asignacion/nbproject/private/
/asignacion/build/
/InputData/nbproject/private/
/InputData/build/
/maps/nbproject/private/
/maps/build/
/SampleMysqlConnect/nbproject/private/
/SampleMysqlConnect/build/
/Example-Java-MySQL/nbproject/private/
/Example-Java-MySQL/build/
/mvc-cli/nbproject/private/
/mvc-cli/build/
/HolaMundo/nbproject/private/
/servlet/nbproject/private/
/servlet/build/
/Servle-http/nbproject/private/
/Servle-http/build/
/Servle-http/dist/
/test-servlet/nbproject/private/
/test-servlet/build/